.container {
    box-sizing: border-box;
    max-width: 1200px;
    padding: 0px 20px;
    margin: 0 auto;
}

.botao {
    display: inline-block;
    padding: 16px 32px;
    background: linear-gradient(#FFBF00, #F2A50C);
    border-radius: 4px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    color: var(--cor-p5);
    text-transform: uppercase;
    font: 600 1.125rem/1.35 "roboto", sans-serif;
    max-width: max-content;
    border: none;
    cursor: pointer;
}

.link {
    display: inline-block;
    color: var(--cor-p1);
    font: 500 1.5rem/1.5 "Poppins", sans-serif;
    text-transform: uppercase;
}

.link::after {
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    background-color: currentColor;
}

.link:hover {  
    color: var(--cor-0);
}

.botao:hover {
    background: linear-gradient(#ffb60d, #e59317);
}

.botao.secundario {
    background: var(--cor-10);
    color: var(--cor-2);
}

.botao.seta {
    display: flex;
    align-items: center;
}

.botao.seta::after {
    content: "";
    display: inline-block;
    width: 18px;
    height: 10px;
    margin-left: 12px;
    background: url(../../img/icones/seta.svg);
}
.botao.seta:hover:after {
    transform: translateX(4px);
    transition: transform .2s;
}

.botao.secundario:hover {
    background: var(--cor-9);
}

@media (max-width: 600px) {
    .botao{
        padding: 12px 16px;
        font-size: 1rem;
    }
}

/* titulos internos */

.titulo-bg {
    padding: 60px 0px;
    background-color: var(--cor-11);
}

.titulo p {
    margin-bottom: 4px;
}

@media (max-width: 800px) {
    .titulo-bg {
        padding: 40px 0px;
    }

    .titulo p {
        text-transform: lowercase;
        font-size: 1rem;
        font-weight: 400;
    }
}